/*
*= require_self
*= require_tree .
*/

body {
    /* miss use : and ;*/
    font-family: Helvetica;
    font-size: 110%;
    /* text-color is not a valid css property*/
    color: navy;
    background-color: lightblue;
}
/* . mean class, but img is not a class, it's a html tag */
img { width: 200px; }