<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!-- add namespace to html tag -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- missing ending title tag-->
  <title><%= @title %></title>
  <!-- It's stylesheet_link_tag not stylesheet_tag -->
  <%= stylesheet_link_tag "application" %>
  <!-- missing ending head tag-->
</head>
<body>
<h2><%= @title %></h2>
<!-- output should enclosed in <\%= %> -->
<%= yield %>
</body>
</html>